minmax normalization
you take the min value in range
new_x = all values minus min 
final = new_x / x 
you get all values are between 0 and 1 , like normal distribution

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
import pandas as pd
data = {
    "size" : [200,800,500,600,700],
    "price" : [5,8,7,3,2] #in milions
}
df = pd.DataFrame(data)
df.head()

   size  price
0   200      5
1   800      8
2   500      7
3   600      3
4   700      2

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

print(df_normalized)

       size     price
0 -1.748315  0.000000
1  1.165543  1.315587
2 -0.291386  0.877058
3  0.194257 -0.877058
4  0.679900 -1.315587

In Z score, if Z more than 3 standart deviation - consider to be outlier.