In [ ]:
import pandas as pd

In [ ]:
series = pd.Series([1, 2, 3, 4])
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# Creating a DataFrame
df = pd.DataFrame({
   "Name": ["Alice", "Bob", "Charlie"],
   "Age": [25, 32, 22]
})
print(df)

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   22

In [ ]:
# Creating a DataFrame from a dictionary
data = {
   "fruits": ["apple", "banana", "cherry"],
   "count": [10, 20, 15]
}
df = pd.DataFrame(data)
print(df)

   fruits  count
0   apple     10
1  banana     20
2  cherry     15

In [ ]:
data = {
   "Fruits": ["Apples", "Bananas", "Cherries","Dates"],
   "Count": [20, 30, 15, 10]
}
df = pd.DataFrame(data)
print(df)

     Fruits  Count
0    Apples     20
1   Bananas     30
2  Cherries     15
3     Dates     10

In [ ]:
# Save the DataFrame to a CSV file
df.to_csv('my_data.csv', index=False)

In [ ]:
# Reading data from a CSV file
df = pd.read_csv('file.csv')

# Reading data from an Excel file
df = pd.read_excel('file.xlsx')

# Reading data from a SQL database
from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:')  # Creates a temporary SQLite database
df = pd.read_sql('SELECT * FROM my_table', engine)